@charset "utf-8";
/* CSS Document */

@import url("webfonts/Raleway_Regular/stylesheet.css");
@import url("webfonts/Slabo27px_Regular/stylesheet.css");
@import url("webfonts/Raleway_Bold/stylesheet.css");
@import url("webfonts/Pacifico/stylesheet.css");
@import url("webfonts/PatrickHand_Regular/stylesheet.css");

body
{
	position:absolute;}

#submit {
	width: 100px;
	height: 30px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	font-family: "Raleway Regular";
	font-weight:bold;

}

#table1
{
	font-family:"Slabo27px Regular";
	border-collapse:separate; 
border-spacing:2em;
}

#cat_name,#cat_desc
{font-family:"Slabo27px Regular";
	}