<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.decode.KECircle" >
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.decode.KECircle.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity

            android:name="com.example.decode.KECircle.LoginActivity"

            android:label="@string/title_activity_login" >

        </activity>

        <activity

            android:name="com.example.decode.KECircle.RegisterActivity"

            android:label="@string/title_activity_register" >

        </activity>
        <activity

            android:name="com.example.decode.KECircle.HomeActivity"

            android:label="@string/title_activity_home" >

        </activity>
        <activity

            android:name="com.example.decode.KECircle.ChatActivity"

            android:label="@string/title_activity_chat" >

        </activity>

        <activity

            android:name="com.example.decode.KECircle.ForumActivity"

            android:label="@string/title_activity_forum" >

        </activity>


    </application>

</manifest>
